body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 50%;
    padding: 50px;
}

.top{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    margin: 10px;
    margin-bottom: 50px;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    position: relative;
    padding-left: 20px;
}

pre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #ccc;
    border-radius: 5px 0 0 5px;
}

code {
    font-family: Consolas, monospace;
    color: blue;
}

#comments{
    line-height: 1;
}

section {
    border: 1px solid #ddd;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  #section-comment {
    border: 1px solid #ddd;
    padding: 4px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-radius: 2px;
  }

  .form-group {
    margin-top: 20px;
  }

  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
    resize: vertical;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #45a049;
  }


  .button-subm {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .button-subm:hover {
    background-color: #45a049;
  }